:root {
    --bg-color:  {{editor-background-default}};
    --text-color: {{editor-text-default}};
    --md-char-color: {{editor-text-minor}}; /*change color of meta characetrs like `*` in markdown */
    --meta-content-color: {{editor-text-minor}}; /*change color of meta contents like image text or link address in markdown */
 
    --primary-color: {{accent-background-2}}; /* color of primary buttons */
    --primary-btn-border-color: {{accent-background-2}};
    --primary-btn-text-color: {{accent-foreground}};
 
    --active-file-bg-color: {{editor-background-default}}; /*background color if list item in file tree or file list*/
    --active-file-text-color: {{editor-text-highlight}};
    --active-file-border-color: {{accent-background-2}};
 
    --side-bar-bg-color: {{window-background-default}};
    --item-hover-bg-color: {{editor-background-default}}; /*background of control items when hover, like menu in sidebar*/
    --item-hover-text-color: {{editor-text-highlight}};
}

html {
    font-size: 16px;
}

body {
    font-family: "IBM Plex Sans",system-ui,sans-serif;
    line-height: 1.6;
}

#typora-source {
    background-color: {{terminal-background-default}};
    color: {{terminal-text-default}};
}

#write {
    max-width: 860px;
  	margin: 0 auto;
  	padding: 30px;
    padding-bottom: 100px;
}
#write > ul:first-child,
#write > ol:first-child{
    margin-top: 30px;
}

a {
    color: {{editor-text-link}};
}
h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
    line-height: 1.4;
    cursor: text;
}
h1:hover a.anchor,
h2:hover a.anchor,
h3:hover a.anchor,
h4:hover a.anchor,
h5:hover a.anchor,
h6:hover a.anchor {
    text-decoration: none;
}
h1 tt,
h1 code {
    font-size: inherit;
}
h2 tt,
h2 code {
    font-size: inherit;
}
h3 tt,
h3 code {
    font-size: inherit;
}
h4 tt,
h4 code {
    font-size: inherit;
}
h5 tt,
h5 code {
    font-size: inherit;
}
h6 tt,
h6 code {
    font-size: inherit;
}
h1 {
    padding-bottom: .3em;
    font-size: 1.75em;
    line-height: 1.2;
    border-bottom: 1px solid {{editor-text-minor}};
}
h2 {
    font-size: 1.5em;
    line-height: 1.4;
}
h3 {
    font-size: 1.25em;
    line-height: 1.4;
}
h4 {
    font-size: 1em;
}
h5 {
    font-size: 1em;
}
h6 {
   font-size: 1em;
    color: {{editor-text-minor}};
}
p,
blockquote,
ul,
ol,
dl,
table{
    margin: 0.8em 0;
}
li>ol,
li>ul {
    margin: 0 0;
}
hr {
    height: 2px;
    padding: 0;
    margin: 16px 0;
    background-color: {{editor-text-minor}};
    border: 0 none;
    overflow: hidden;
    box-sizing: content-box;
}

li p.first {
    display: inline-block;
}
ul,
ol {
    padding-left: 30px;
}
ul:first-child,
ol:first-child {
    margin-top: 0;
}
ul:last-child,
ol:last-child {
    margin-bottom: 0;
}
blockquote {
    border-left: 4px solid {{accent-background-1}};
    padding: 0 15px;
    font-style: italic;
}
blockquote blockquote {
    padding-right: 0;
}
table {
    padding: 0;
    word-break: initial;
}
table tr {
    border-top: 1px solid {{editor-background-highlight}};
    margin: 0;
    padding: 0;
}
table tr:nth-child(2n),
thead {
    background-color: {{editor-background-highlight}};
}
table tr th {
    font-weight: bold;
    border: 1px solid {{editor-background-highlight}};
    border-bottom: 0;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}
table tr td {
    border: 1px solid {{editor-background-highlight}};
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}
table tr th:first-child,
table tr td:first-child {
    margin-top: 0;
}
table tr th:last-child,
table tr td:last-child {
    margin-bottom: 0;
}

.CodeMirror-lines {
    padding-left: 4px;
}

.code-tooltip {
    box-shadow: 0 1px 1px 0 rgba(0,28,36,.3);
    border-top: 1px solid #eef2f2;
}

.md-fences,
code,
tt {
    border: 1px solid {{editor-background-highlight}};
    border-radius: 3px;
    padding: 0;
    padding: 2px 4px 0px 4px;
    font-size: 0.9em;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
}

code {
    background-color: {{editor-background-highlight}};
    padding: 0 2px 0 2px;
}

.md-fences {
    margin-bottom: 15px;
    margin-top: 15px;
    padding-top: 8px;
    padding-bottom: 6px;
}

/*************************/

.CodeMirror.cm-s-inner .CodeMirror-gutters {
    border-color: {{window-text-minor}};
}

.CodeMirror .CodeMirror-guttermarker,
.CodeMirror.cm-s-inner .CodeMirror-guttermarker,
.CodeMirror .CodeMirror-guttermarker-subtle,
.CodeMirror.cm-s-inner .CodeMirror-guttermarker-subtle,
.CodeMirror .CodeMirror-linenumber,
.CodeMirror.cm-s-inner .CodeMirror-linenumber {
    color: {{window-text-minor}};
}

.CodeMirror .CodeMirror-cursor,
.CodeMirror.cm-s-inner .CodeMirror-cursor {
    border-left: 1px solid {{terminal-text-default}};
}

.CodeMirror .cm-comment,
.CodeMirror.cm-s-inner .cm-comment {
    color: {{terminal-text-cyan}};
}

.CodeMirror .cm-operator,
.CodeMirror.cm-s-inner .cm-operator {
    color: {{terminal-text-default}};
}

.CodeMirror .cm-keyword,
.CodeMirror.cm-s-inner .cm-keyword {
    color: {{terminal-text-red}};
}

.CodeMirror .cm-builtin,
.CodeMirror.cm-s-inner .cm-builtin {
    color: {{terminal-text-red}};
}

.CodeMirror .cm-tag,
.CodeMirror.cm-s-inner .cm-tag {
    color: {{terminal-text-red}};
}

.CodeMirror .cm-atom,
.CodeMirror.cm-s-inner .cm-atom {
    color: {{terminal-text-yellow}};
}

.CodeMirror .cm-number,
.CodeMirror.cm-s-inner .cm-number {
    color: {{terminal-text-yellow}};
}

.CodeMirror .cm-string,
.CodeMirror.cm-s-inner .cm-string {
    color: {{terminal-text-green}};
}

.CodeMirror .cm-quote,
.CodeMirror.cm-s-inner .cm-quote {
    color: {{terminal-text-blue}};
}

.CodeMirror .cm-link,
.CodeMirror.cm-s-inner .cm-link {
    color: {{terminal-text-link}};
}

.CodeMirror .cm-attribute,
.CodeMirror.cm-s-inner .cm-attribute {
    color: {{terminal-text-magenta}};
}

.CodeMirror .cm-property,
.CodeMirror.cm-s-inner .cm-property {
    color: {{terminal-text-magenta}};
}

.CodeMirror .cm-def,
.CodeMirror.cm-s-inner .cm-def {
    color: {{terminal-text-blue}};
}

.CodeMirror .cm-variable,
.CodeMirror.cm-s-inner .cm-variable {
    color: {{terminal-text-blue}};
}

.CodeMirror .cm-variable-2,
.CodeMirror.cm-s-inner .cm-variable-2 {
    color: {{terminal-text-highlight}};
}

.CodeMirror .cm-variable-3,
.CodeMirror.cm-s-inner .cm-variable-3 {
    color: {{terminal-text-highlight}};
}

.CodeMirror .cm-header,
.CodeMirror.cm-s-inner .cm-header {
    color: {{terminal-text-highlight}};
}

/*************************/


.md-task-list-item > input {
  margin-left: -1.3em;
}

@media print {
    html {
        font-size: 13px;
    }
    table,
    pre {
        page-break-inside: avoid;
    }
    pre {
        word-wrap: break-word;
    }
}

.md-fences {
    background-color: {{terminal-background-default}};
    color: {{terminal-text-default}};
}
#write pre.md-meta-block {
	padding: 1rem;
    background-color: {{window-background-default}};
    border: 1px 0 dashed {{editor-text-default}};
    border-radius: 3px;
    color: {{window-text-default}};
    margin-top: 0 !important;
}

.mathjax-block>.code-tooltip {
	bottom: .375rem;
}

#write>h3.md-focus:before{
	left: -1.5625rem;
	top: .375rem;
}
#write>h4.md-focus:before{
	left: -1.5625rem;
	top: .285714286rem;
}
#write>h5.md-focus:before{
	left: -1.5625rem;
	top: .285714286rem;
}
#write>h6.md-focus:before{
	left: -1.5625rem;
	top: .285714286rem;
}
.md-image>.md-meta {
    /*border: 1px solid #ddd;*/
    border-radius: 3px;
    padding: 2px 0px 0px 4px;
    font-size: 0.9em;
    color: inherit;
}

.md-tag {
    color: {{editor-text-red}};
    opacity: 1;
}

.md-toc { 
    margin-top:20px;
    padding-bottom:20px;
}

.sidebar-tabs {
    border-bottom: none;
}

#typora-quick-open {
    border: 1px solid {{editor-background-default}};
    background-color: {{terminal-background-default}};
    color: {{terminal-text-default}};
}

.cm-s-typora-default .CodeMirror-activeline-background {
    background-color: inherit;
}

#typora-quick-open-item {
    background-color: {{window-background-default}};
    color: {{window-text-default}};
    border-color: {{editor-text-default}};
    border-style: solid;
    border-width: 1px;
}

.file-node-content:hover .file-node-icon,
.file-node-content:hover .file-node-open-state{
    visibility: visible;
}

.mac-seamless-mode #typora-sidebar {
    background-color: {{window-background-default}};
    background-color: var(--side-bar-bg-color);
}

.dropdown-menu .divider {
    border-color: {{editor-text-minor}};
}

.file-library-node:not(.file-node-root):focus > .file-node-content {
    outline: none !important;
}
